/* Chat Modal */
.chat_container {
	width: 100%;
	margin-top: 20px;
}

.history_dropdown {
	width: 100%;
}

.chat_options_dropdowns {
	width: 100%;
	display: flex;
	gap: 10px;
	margin: 20px 0;
}

.chat_prompt_textarea {
	min-height: 100px;
}

.chat_prompt_textarea, .conversation_answer_textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.conversation_answer_textarea {
	height:min-content;
	max-height: 60vh;
	overflow: auto;
	min-height: 250px;
}

.conversation_prompt_textarea {
	width: 100%;
	min-height: 50px;
	padding: 10px;
	font-size: 16px;
}

.model_temperature {
	margin-top: 20px;
}

.chatModal_button_container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 15px;
}

.cancel_button {
	background-color: #b33939;
}

.generate_button {
	background-color: #218c74;
}

.history_container {
	font-size: 10px;
	display: flex;
	align-items: center;
	padding: 10px 0;
	gap: 10px;
}

/* SETTINGS CONTAINER in Conversation Modal */
.settings_container {
	padding-top: 0.75em;
	border-top: 1px solid #363636;
}

/* .setting-item {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	padding: 0.75em 0;
	border-top: 1px solid #363636;
} */