/* Chat Modal */
.no-display {
	display: none;
}

.chat_container {
	width: 100%;
	margin-top: 20px;
}

.history_dropdown {
	width: 100%;
	margin: 0 0 20px 0;
}

.chat_prompt_textarea {
	min-height: 100px;
}

.chat_prompt_textarea,
.conversation_answer_textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.chatModal_button_container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 15px;
}

.history_container {
	border-top: 1px solid var(--background-modifier-border);
	font-size: 10px;
	display: flex;
	align-items: center;
	padding: 10px 0;
	gap: 10px;
}

/* CONVERSATIONAL MODAL */
.conversation_answer_textarea {
	height: min-content;
	max-height: 60vh;
	overflow: auto;
	min-height: 250px;
}

.conversation_prompt_textarea {
	width: 100%;
	min-height: 50px;
	padding: 10px;
	font-size: 16px;
}

.select-text:hover {
	background-color: #218c74;
	color: #ffffff;
}

/********************************************************/

/* Chat Modal 2*/
.title-div {
	display: flex;
	text-align: center;
	padding-bottom: 20px;
}

.title-border {
	border-bottom: 1px solid var(--background-modifier-border);
	margin-left: -16px;
	width: calc(100% + 32px);
}

.title {
	font-weight: bold;
	margin-top: -5px;
}

.left-buttons-div {
	display: flex;
	justify-self: flex-start;
}

.right-buttons-div {
	display: flex;
	justify-content: space-evenly;
}

.title-buttons {
	padding: 2px 4px;
}

.new-chat-button {
	justify-self: flex-start;
}

.one {
	flex: 1;
}

.four {
	flex: 4;
}

/* Chat Container */
.chat-history-container {
	margin-top: 10px;
}

.chat-container,
.settings-container {
	margin-top: 20px;
}

.chat-container,
.chat-history-container,
.settings-container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 4px);
	padding: 0 2px 0 2px;
	min-height: 50vh;
	max-height: var(--dialog-max-height);
	overflow: auto;
}

.chat-container {
	justify-content: space-between;
	padding: 2px;
	width: 100%;
}

#active-button {
	color: #743bef;
	background: #b896fc;
}

.messages-div {
	min-height: 10rem;
	max-height: 40vh;
	overflow-y: auto;
	margin-bottom: 15px;
}

.flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 1;
}

.flex-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.prompt-container {
	position: relative;
	width: 100%;
}

#chat-prompt-text-area {
	padding: 10px 60px 10px 10px;
	font-size: 16px;
}

.chat-prompt-text-area {
	width: 100%;
	min-height: 3rem;
	font-size: 16px;
}

.send-button {
	position: absolute;
	top: 9px;
	right: 9px;
}

/* IM LIKE MESSAGE*/
.im-like-message-container {
	display: flex;
	width: fit-content;
	padding-top: 5px;
	min-width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	.message-icon {
		margin-right: auto;
	}
}

.im-like-message-container:nth-child(2n) {
	padding-left: 5px;
	flex-direction: row-reverse;
	background: var(--background-modifier-form-field);
	.message-icon {
		margin-right: 5px;
	}
	.im-like-message {
		text-align: right;
		padding-right: 5px;
	}
}

.im-like-message {
	padding: 5px 0;
}

/* HISTORY CONTAINER */
.history-item {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	border-radius: 5px;
}

.history-item:first-child {
	padding-top: 10px;
}

.history-item:hover {
	box-shadow: var(--input-shadow-hover);
}

.history-buttons-div {
	display: flex;
	align-items: center;
}

.delete-history-button {
	margin: 0 10px;
}

.edit-prompt-button,
.save-prompt-button {
	padding: 4px;
}

.message-icon {
	height: 35px;
	width: 35px;
	border-radius: 10%;
	border: 1px solid var(--background-modifier-border);
	text-align: center;
	line-height: 30px;
	text-transform: capitalize;
	font-size: 18pt;
	box-shadow: 1px 1px 2px var(--background-modifier-border);
}

.im-like-message {
	/* border: 1px solid lime; */
	width: calc(100% - 40px);
}

#delete-history-button {
	padding: 4px;
}
